@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #0050e6;
  --color-secondary: #ff5722;
}

/* Utility helpers */
.bg-primary {
  background-color: var(--color-primary);
}
.text-primary {
  color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.text-secondary {
  color: var(--color-secondary);
}


body{
    font-family: IBM Plex Sans;
    padding-bottom: 300px;

    
}
p {
font-family: IBM Plex Sans;
font-weight: 500;
font-style: Medium;
font-size: 18px;

line-height: 25.5px;
letter-spacing: 0%;
text-align: center;

}
 .btn {
    padding: 15px 30px;
    background: var(--color-primary);
    color: white;
  }
  .btn-transperent {
        padding: 15px 30px;
    background:transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
  button{

    padding: 15px 30px;
    background: var(--color-primary);
    color: white;

  }